@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&family=Corinthia:wght@700&family=Lato:wght@300;400;700;900&family=Poppins:wght@100;200;300;400;500;700;900&family=Rubik:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 5px 5px;
}

body {
    background: beige;
    line-height: 1.5;
    font-size: 20px;
    font-family:'Baloo Bhaina 2', cursive;
}

.main-nav ul {
    display: grid;
    gap: 20px;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(4, 1fr);
}
/* I used display: grid to activate the grid for the navigation bar. I then used grid-template-columns: repeat(4, 1fr) to make the clickable links in the navigation bar evenly distributed through out the top. */

.main-nav a {
    background: white;
    display: block;
    text-decoration: none;
    text-align: center;
    color: black;
    font-family: 'Corinthia', cursive;
    font-size: 30px;
    box-shadow: 10px 10px darkgoldenrod;
}

header {
    display: grid;
    max-width: 1440px;
    gap: 20px;
}

.header {
    margin: 50px;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 200px;
    height: 75px;
}

.hoodies {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    border: solid 3px darkgoldenrod;
    text-align: center;
}

img {
    width: 400px;
    height: 500px;
}

.about {
    display: grid;
    gap: 20px;
    grid-template-areas: 
    'p1 p2'
    'p3 p2'
    ;
}
/* In the about section, which is the logo, I used a grid-template-areas to position the paragraph tags in a certain location. Below are the grid-area of each paragraph. This makes the two  */

.p1 {
    background: white;
    display: grid;
    box-shadow: 5px 5px darkgoldenrod;
    grid-area: p1;
}

.p2 {
    background: white;
    display: grid;
    box-shadow: 5px 5px darkgoldenrod;
    grid-area: p2;
}

.p3 {
    background: white;
    display: grid;    
    box-shadow: 5px 5px darkgoldenrod;
    grid-area: p3;
}

.shirts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    list-style: none;
    border: solid 3px darkgoldenrod;
    text-align: center;
}

.contact {
    background-color: white;
    display: grid;
    grid-column-start: 2;
    box-shadow: 5px 5px darkgoldenrod;
}
/* I used grid-column-start: 2 to move the "Contact Us" portion to the left of the screen and the paragraph information moved to the right of the screen.  */

@media (max-width: 768px) {
    .hoodies {
        grid-template-columns: repeat(1, 1fr);
        /* When the screen is viewed on a tablet or smaller, the hoodie images are no longer in a column of 3, they are changed to a column of 1 picture, this way, there is no scrolling left and right of the page to view the other hoodies. */
    }
    .shirts {
        grid-template-columns: repeat(1, 1fr);
        /* When the screen is viewed on a tablet or smaller, the shirt images are no longer in a column of 2, they are changed to a column of 1 picture, this way, there is no scrolling left and right of the page to view the other shirts. */
    }
}